ffmpeg-python 
matplotlib 
numpy 
pandas 
scipy 
scikit-learn 
librosa 
webrtcvad 
transformers 
datasets 
accelerate 
nltk 
sentence-transformers
whisperx
whisper
torch==2.3.1 
torchaudio==2.3.1 
torchcodec==0.1.1 
torchvision==0.18.1
--index-url https://download.pytorch.org/whl/cpu

# Uncomment the following line if you have a CUDA-capable GPU and want to use it
# --extra-index-url https://download.pytorch.org/whl/cu121

git+https://github.com/m-bain/whisperx.git
